/*variables*/

$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$background-secondary:#EAEAEA;
$background-primary:#F6F6F6;
$alternate-font-color:#353535;
$title-font:'Shrikhand';

/*mixin*/
@mixin full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background-overflow{
    margin-left: -20px;
    width: calc(100% + 40px);
}

/*GLOBAL*/
body{
    font-family: 'Roboto';
}
.container{
    max-width : 768px;
    padding: 0px 20px;
    margin: 0 auto;
}
a{
    color: black;
    text-decoration: none;
    &:visited{
        color: black;
    }
}

header {
    .title{
        @include full-center;
        @include background-overflow;
        font-family: $title-font;
        font-size: 24px;
        height: 50px;
        border-bottom: 1px solid grey;
    }
    .subtitle{
        @include full-center;
        @include background-overflow;
        background-color: $background-secondary;
        font-size: 12px;
        height: 40px;
        color: $alternate-font-color;
        i{
         padding-right: 10px ;   
        }
    }
}

/*MAIN*/
.presentation{
    @include full-center;
    @include background-overflow;
    flex-direction: column;
    background-color: $background-primary;
    text-align: center;
    min-height: max-content;
    padding: 20px 0;
    h1{
        font-size:20px;
    }
    .presentation-text{
        color: $alternate-font-color;
        font-weight: lighter;
        font-size: 14px;
    }
    .btn{
        background: linear-gradient($secondary,$primary);
        border-radius: 30px;
        margin: 20px;
        padding: 0 20px;
        .btn-text{
            color: white;
            font-size: 12px;
        }
    }
}
.function{
    margin-top: 40px;
    margin-bottom: 50px;
}
.grid-function{
    display: flex;
    flex-direction: column;
    height: calc(33% - 20px);
}

.btn-function{
    display: flex;
    font-size:14px;
    background-color: $background-primary;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 60px;
    box-shadow: 2px 7px 20px -1px rgba(144,144,144,0.33);
    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .function-number{
        border-radius: 50%;
        background-color: $primary;
        padding:4px 7px;
        color: white;
        font-size:12px;
        margin-right: 20px;
        margin-left: -10px;
    }
    i{
        font-size: large;
        color:grey;
        margin-right: 20px;
        &:hover{
            color: $primary;
        }
    }       
}
.btn-function:hover{
    background-color: #F5EDFF;
    i{
        color: $primary;
    }
}
.restaurant{
    @include background-overflow;
    flex-direction: column;
    background-color: $background-primary;
    padding-top: 20px;
    h2{
       padding-left: 20px;
    }
}
.restaurant-grid{
    @include full-center;
    flex-direction: column;
    height: calc(25% - 20px);
}

.restaurant-grid .card{
    flex-direction: column;
    margin-bottom:20px;
    border: 5px solid white;
    width: calc(100% - 40px);
    border-radius: 20px;
    box-shadow: 1px 3px 20px -1px rgba(144,144,144,0.33);
    transition: 0.3s all ease-in-out;
    height: 180px;
    background-color: white;
    a{
        margin-bottom: -20px;
    }
    img{
        display: block;
        border:hidden;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 124px;
        object-fit: cover;
    }
    &:hover{
        box-shadow: 1px 3px 20px -1px rgba(144,144,144,0.66);
    }
    .new-sticker{
        position: relative;
        left: 70%;
        bottom: 80%;
        text-align: center;
        padding: 5px;
        background-color: #99E2D0;
        color:#008766;
        font-size: small;
        border-radius: 5px;
        width:calc(25% - 5px);
    }
}
.card .description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px ;
    padding-top: -20px;
    padding: 5px;
    .text{
        padding-top: 5px;
    }
    .heart-link{
        padding-top:10px;
    }
    .heart-link:hover .hollow-heart, .heart-link .plain-heart {
        display: none;
    }
    .heart-link:hover .plain-heart{
        display: inline;
        color: $primary;
    }
}

/*FOOTER*/
footer{
    height: 100%;
    background-color: $alternate-font-color ;
    color: white;
    font-weight: 300;
    a, a:visited{
        color: white;
    }
    ul{
        list-style-type: none;
        margin:0;
    }
    li{
        padding-top: 10px;
        &:hover{
            color:$primary;
        }
        i{
            font-size: small;
            padding-right:5px;
        }
    }
    .title{
        font-family: $title-font;
        font-size: 14px;
    }
}

/*TABLET*/
@media screen and (min-width:769px) and (max-width:992px){
    .container{
        max-width: 992px;
    }
    .grid-function{
        flex-direction: row;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
        .card{
            width: calc(50% - 40px);
            margin-left: 10px;
        }
    }

    footer{
        padding-left: 20px;
    }
}
/*DESKTOP*/
@media screen and (min-width:992px){
    .container{
        max-width: 1400px;
    }
    .grid-function{
        flex-direction: row;
        justify-content: space-around;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
        .card{
            width: calc(50% - 40px);
            margin-left: 10px;
        }

    }
    footer{
        padding-top: 20px;
        ul{
            display: flex;
            justify-content: space-evenly;
        }
    }
}