/*variables*/

$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$background-secondary:#EAEAEA;
$background-primary:#F6F6F6;
$alternate-font-color:#353535;
$title-font:'Shrikhand';
$lighter-font:300;
$delay: 1s;

/*mixin*/
@mixin full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background-overflow{
    margin-left: -20px;
    width: calc(100% + 40px);
}
@mixin fadeInAnim{
    animation-name: FadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            $delay: 0.3 * $i;
            animation-delay:(#{$delay}s);
        }
    }
    @keyframes FadeIn {
        0%{
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        100%{
            opacity:1;
            transform: translate3d(0, 0, 0);
        }
    }
}
@mixin HeartFill {
    animation-name: FillIn;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    @keyframes FillIn {

        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

}
@mixin checkboxAnim {
    animation-name: Slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    @keyframes Slide{
        0%{
            margin-right: -10px;
            opacity:0;
            width: 0;
        }
        100%{
            opacity: 1;
            margin-right: -10px;
            width: 60px;
        }
    }
}
@mixin checkboxrotate {
    animation-name: Rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    @keyframes Rotate{
        0%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(0);
        }
    }
}
/*GLOBAL*/
body{
    font-family: 'Roboto';
}
.container{
    max-width : 768px;
    padding: 0 20px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
    &:visited{
        color:black;
    }
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        order: 1;
        color: grey;
    }

    .title{
        @include full-center;
        width: calc(100% - 20px);
        padding-right: 20px;
        font-family: $title-font;
        font-size: 24px;
        height: 50px;
    }

}

/*MAIN*/
main{
    @include full-center;
    flex-direction: column;
    img{
        object-fit: cover;
        width: calc(100% + 40px);
        height: 220px;
    }
}
.menu-container{
    width:100%;
    border-radius: 20px 20px 0 0;
    background-color: $background-primary;
    margin-top: -20px;
    padding: 0 20px;
}
.main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: $title-font;
        font-size: 24px;
    }
    .heart-link:hover .hollow-heart, .heart-link .plain-heart {
        display: none;
    }
    .heart-link:hover .plain-heart{
        display: inline;
        color: $primary;
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: center 60%;
    }
}
h2{
    justify-content: flex-start;
    font-size: 14px;
    font-weight: $lighter-font;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 30px;
        height: 2px;
        background-color: $tertiary;
    }
}
.menu-grid{
    @include full-center;
    flex-direction: column;
}

/*Card*/
.menu-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 7px 20px -1px rgba(144,144,144,0.33);
    width: 280px;
    height: 60px;
    @include fadeInAnim;
    .left-column{
        strong{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        div{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 13px;
            font-weight: $lighter-font;
        }
    }
    .price{
        align-items: flex-end;
        font-size: 13px;
        font-weight: bold;
        padding-top:20px;

    }
}
.menu-card:hover{
    .checkbox{
        @include checkboxAnim;
        .fa-circle-check{
            @include checkboxrotate;
        }
    }
}
.right-column{
    display: flex;
    .checkbox{
        @include full-center;
        opacity: 0;
        overflow: hidden;
        margin-right: -60px;
        margin-left:10px;
        height: 60px;
        width: 50px;
        border-radius: 0 10px 10px 0;
        background-color: $tertiary;
        i{
            color: white;
            font-size: larger;
        }

    }

}
/*order btn*/
.btn{
    @include full-center;
    background: linear-gradient($secondary,$primary);
    border-radius: 30px;
    margin: 20px 0;
    padding: 0 20px;
    width: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    .btn-text{
        color: white;
        font-size: 12px;
    }
    &:hover{
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
/*FOOTER*/
footer{
    height: 100%;
    background-color: $alternate-font-color ;
    color:white;
    font-weight: $lighter-font;
    a{
        color:white
    }
    ul{
        list-style-type: none;
        margin:0;
    }
    li{
        padding-top: 10px;
        &:hover{
            color:$primary;
        }
        i{
            font-size: small;
            padding-right:5px;
        }
    }
    .title{
        margin: 10px 0;
        font-family: $title-font;
        font-size: 14px;
    }
}

/*TABLET*/
@media screen and (min-width:769px) and (max-width:992px){
    .container{
        max-width: 992px;
    }
    .grid-function{
        flex-direction: row;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: calc(50% - 40px);
        margin-left: 10px;
    }
    footer{
        padding-left: 20px;
    }
}
/*DESKTOP*/
@media screen and (min-width:992px){
    .container{
        max-width: 1400px;
    }
    .grid-function{
        flex-direction: row;
        justify-content: space-around;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .card{
        width: calc(50% - 40px);
        margin-left: 10px;
    }
    footer{
        padding-top: 20px;
        ul{
            display: flex;
            justify-content: space-evenly;
        }
    }
}