/*variables*/

$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$background-secondary:#EAEAEA;
$background-primary:#F6F6F6;
$alternate-font-color:#353535;
$title-font:'Shrikhand';
$lighter-font:300;

/*mixin*/
@mixin full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background-overflow{
    margin-left: -20px;
    width: calc(100% + 40px);
}

/*GLOBAL*/
body{
    font-family: 'Roboto';
}
.container{
    max-width : 768px;
    padding: 0 20px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
    &:visited{
        color:black;
    }
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        order: 1;
        color: grey;
    }

    .title{
        @include full-center;
        width: calc(100% - 20px);
        padding-right: 20px;
        font-family: $title-font;
        font-size: 24px;
        height: 50px;
    }

}

/*MAIN*/
main{
    @include full-center;
    flex-direction: column;
    img{
        object-fit: cover;
        width: calc(100% + 40px);
        height: 220px;
    }
}
.menu-container{
    width:100%;
    border-radius: 20px 20px 0 0;
    background-color: $background-primary;
    margin-top: -20px;
    padding: 0 20px;
}
.main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: $title-font;
        font-size: 24px;
    }
    .heart-link:hover .hollow-heart, .heart-link .plain-heart {
        display: none;
    }
    .heart-link:hover .plain-heart{
        display: inline;
        color: $primary;
    }
}    
h2{
    justify-content: flex-start;
    font-size: 14px;
    font-weight: $lighter-font;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 30px;
        height: 2px;
        background-color: $tertiary;
    }
}
.starter-grid{
    display: flex;
    flex-direction: column;
}
.menu-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 7px 20px -1px rgba(144,144,144,0.33);
    width: 100%;
    height: 60px;
    .left-column{
        div{
            font-size: 13px;
            font-weight: $lighter-font;
        }
    }
    .price{
        align-items: flex-end;
        font-size: 13px;
        font-weight: bold;
        padding-top:20px;
    }
    &:hover{
        overflow: hidden;
        /*transform-origin: 0% 50%;*/
        transform: scaleX(1);
    }
}

.btn{
    @include full-center;
    background: linear-gradient($secondary,$primary);
    width: 50%;
    border-radius: 30px;
    margin: 40px 80px;
    .btn-text{
        color: white;
        font-size: 12px;
    }
}
/*FOOTER*/
footer{
    height: 100%;
    background-color: $alternate-font-color ;
    color:white;
    font-weight: $lighter-font;
    a{
        color:white
    }
    ul{
        list-style-type: none;
        margin:0;
    }
    li{
        padding-top: 10px;
        &:hover{
            color:$primary;
        }
        i{
            font-size: small;
            padding-right:5px;
        }
    }
    .title{
        font-family: $title-font;
        font-size: 14px;
    }
}

/*TABLET*/
@media screen and (min-width:769px) and (max-width:992px){
    .container{
        max-width: 992px;
    }
    .grid-function{
        flex-direction: row;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: calc(50% - 40px);
        margin-left: 10px;
    }
    footer{
        padding-left: 20px;
    }
}
/*DESKTOP*/
@media screen and (min-width:992px){
    .container{
        max-width: 1400px;
    }
    .grid-function{
        flex-direction: row;
        justify-content: space-around;
    }
    .btn-function{
        margin-left: 20px;
        padding-right: 20px;
    }
    .restaurant-grid{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .card{
        width: calc(50% - 40px);
        margin-left: 10px;
    }
    footer{
        padding-top: 20px;
        ul{
            display: flex;
            justify-content: space-evenly;
        }
    }
}